<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication6.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication6.Properties.Settings.Data2ConnectionString"
            connectionString="Data Source=MASTER-LOMASTER;Initial Catalog=Data2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <WindowsFormsApplication6.Properties.Settings>
            <setting name="CurrentParent" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentStudent" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApplication6.Properties.Settings>
    </userSettings>
</configuration>